html{
	font-family: 'Segoe UI';
}

#table_confusion_matrix,
#statistics{
	float: left;
}

#table_confusion_matrix,
#table_confusion_matrix input{
	text-align: center;
	font-size: 1em;
}


#table_confusion_matrix td{
	min-width: 2em;
}


#table_confusion_matrix .big_four{
	height: 6rem;
	width:  6rem;
	position: relative;
}

#table_confusion_matrix .big_four label{
	position: absolute;
	bottom: 1.2em;
	left: 0;
	font-size: 0.62em;
	width: 6rem;
	text-transform: uppercase;
 	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.5);
	background-clip: text;
	-webkit-background-clip: text;

}

#table_confusion_matrix td input{
	position: absolute;
	top: 1em;
	left: 1.3em;
	height: 4em;
	width:  4em;
	border:  none;
	background-color: transparent;
}

#table_confusion_matrix td input:focus{
	outline: none;
}


.actual_condition_header{
    writing-mode: vertical-rl;
    transform-origin: 40% 50%;
    transform: rotate(180deg);
}


#statistics{
	margin-top: 1em;
	margin-left: 3em;
}


#statistics th, #statistics td{
	text-align: right;
	padding: 0.5em 0.2em;
	border-bottom: 1px solid #aaaaaa;
}

#statistics th{
	font-weight: unset;
	padding-right: 1em;
}

#statistics th.section_header{
	font-weight: bold;
	text-align: left;
}


#statistics span{
	padding: 0.05em 0.3em;
	border-radius: 0.45em;
	min-width: 1.2em;
	display: inline-block;
	text-align: center;
}

#statistics .smaller_formula{
	font-size: 0.9em;
	letter-spacing: -0.08em;
}

#statistics .synonyms{
	text-align: left;
	opacity: 0.7;
}

/* Actual Positives */
.tp, .tp input,
.fn, .fn input,
.p
{
	color: #e66101;
}


/* Actual Negatives */
.fp, .fp input,
.tn, .tn input,
.n
{
	color: #5e3c99;
}

.p, .n{
	font-weight: bold;
	background-color: #ececec;
}

/* Pred Positives */
.tp,
.fp,
.predp
{
	background-color: #fee0b6;
}


/* Pred Negatives */
.tn,
.fn,
.predn
{
	background-color: #d8daed;
}


.predp, .predn{
	font-style: italic;
}


.sensitivity{
	color: #e66101;
	border: 1px solid #e66101;
}

.specificity{
	color: #5e3c99;
	border: 1px solid #5e3c99;
}

.informedness{
	border: 1px solid #333;
}

.positive_predictive_value,
.negative_predictive_value,
.markedness{
	font-style: italic;
}

.positive_predictive_value{
	background-color: #fee0b6;
	border: 1px solid #e66101;
}

.negative_predictive_value{
	background-color: #d8daed;
	border: 1px solid #5e3c99;
}

.markedness{
	background-color: #ddd;
	border: 1px solid #333;
}

/*

 Highlight

*/

@keyframes glow_pos {
    from {
        text-shadow: 0 0 1px #e66101;
    }

    to {
        text-shadow: 0 0 5px #e66101;
    }
}

@keyframes glow_neg {
    from {
        text-shadow: 0 0 1px #5e3c99;
    }

    to {
        text-shadow: 0 0 5px #5e3c99;
    }
}

#table_confusion_matrix .tp.highlight,
#table_confusion_matrix .fn.highlight,
#table_confusion_matrix .p.highlight,
#table_confusion_matrix .predp.highlight {
    animation: glow_pos 1s infinite alternate;
}

#table_confusion_matrix .tn.highlight,
#table_confusion_matrix .fp.highlight,
#table_confusion_matrix .n.highlight,
#table_confusion_matrix .predn.highlight {
    animation: glow_neg 1s infinite alternate;
}
