html{
	font-family: 'Segoe UI';
}

#table_confusion_matrix,
#statistics{
	float: left;
}

#table_confusion_matrix,
#table_confusion_matrix input{
	text-align: center;
	font-size: 1em;
}

#table_confusion_matrix input{
	height: 6em;
	width:  6em;
	border:  none;
}

#table_confusion_matrix td{
	min-width: 2em;
}



.actual_condition_header{
    transform-origin:50% 50%;
    transform: rotate(-90deg);
}


#statistics{
	margin-top: 3em;
	margin-left: 3em;
}

#statistics th, #statistics td{
	text-align: right;
	padding: 0.5em 0.2em;
	border-bottom: 1px solid #aaaaaa;
}

#statistics span{
	padding: 0.1em 0.2em;
	border-radius: 0.4em;
	min-width: 1.2em;
	display: inline-block;
	text-align: center;
}

#statistics .synonyms{
	text-align: left;
	color: #555555;
}

/* Actual Positives */
.tp, .tp input,
.fn, .fn input,
.p
{
	color: #e66101;
}


/* Actual Negatives */
.fp, .fp input,
.tn, .tn input,
.n
{
	color: #5e3c99;
}

.p, .n{
	font-weight: bold;
	background-color: #ececec;
}

/* Pred Positives */
.tp, .tp input,
.fp, .fp input,
.predp
{
	background-color: #fee0b6;
}


/* Pred Negatives */
.tn, .tn input,
.fn, .fn input,
.predn
{
	background-color: #d8daed;
}


.predp, .predn{
	font-style: italic;
}


.sensitivity{
	color: #e66101;
	border: 1px solid #e66101;
}

.specificity{
	color: #5e3c99;
	border: 1px solid #5e3c99;
}

/*

 Highlight

*/

@keyframes glow_pos {
    from {
        text-shadow: 0 0 1px #e66101;
    }

    to {
        text-shadow: 0 0 5px #e66101;
    }
}

@keyframes glow_neg {
    from {
        text-shadow: 0 0 1px #5e3c99;
    }

    to {
        text-shadow: 0 0 5px #5e3c99;
    }
}

#table_confusion_matrix .tp.highlight,
#table_confusion_matrix .fn.highlight,
#table_confusion_matrix .p.highlight,
#table_confusion_matrix .predp.highlight {
    animation: glow_pos 1s infinite alternate;
}

#table_confusion_matrix .tn.highlight,
#table_confusion_matrix .fp.highlight,
#table_confusion_matrix .n.highlight,
#table_confusion_matrix .predn.highlight {
    animation: glow_neg 1s infinite alternate;
}
